.nav {
  width: 100%;
  transition: background-color 0.3s; }
  .nav .logo {
    float: left;
    width: 111px;
    margin-top: 30px; }
    .nav .logo img {
      width: 170px;
      height: 50px; }
      .nav .logo img.normal {
        display: none; }
  .nav nav > ul {
    float: right;
    padding-top: 40px; }
    .nav nav > ul > li {
      position: relative;
      float: left;
      margin-left: 48px;
      font-size: 16px;
      font-weight: 400;
      color: #fff; }
      .nav nav > ul > li.active:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 50%; }
      .nav nav > ul > li a {
        color: #fff;
        text-decoration: none; }
        .nav nav > ul > li a:hover {
          color: #2afbea; }
        .nav nav > ul > li a.hover {
          color: #2afbea; }
      .nav nav > ul > li.sub:hover ul {
        display: block; }
      .nav nav > ul > li ul {
        display: none;
        position: absolute;
        top: 40px;
        left: 50%;
        z-index: 999;
        width: 140px;
        margin-left: -70px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
        .nav nav > ul > li ul:before {
          content: '';
          position: absolute;
          top: -7px;
          left: 50%;
          z-index: 2;
          width: 14px;
          height: 14px;
          margin-left: -7px;
          transform: rotate(45deg);
          background-color: #fff;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
        .nav nav > ul > li ul:after {
          content: '';
          position: absolute;
          top: -40px;
          left: 0;
          z-index: 1;
          display: block;
          width: 100%;
          height: 48px;
          background-image: url(../images/placeholder.png); }
        .nav nav > ul > li ul li {
          position: relative;
          z-index: 3;
          width: 100%;
          height: 50px;
          text-align: center;
          border-bottom: 1px solid #F2F2F2; }
          .nav nav > ul > li ul li:first-child {
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
          .nav nav > ul > li ul li a {
            font-size: 16px;
            color: #666666;
            line-height: 50px; }
            .nav nav > ul > li ul li a:hover {
              color: #00C484; }
          .nav nav > ul > li ul li:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; }
  .nav nav .download {
    display: none;
    float: right;
    width: 138px;
    height: 44px;
    margin-top: 20px;
    margin-left: 72px;
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    background-color: #00C484;
    outline: none;
    border: none;
    border-radius: 22px; }
    .nav nav .download:hover {
      background-color: #00D690; }
  .nav.fixed {
    position: fixed;
    z-index: 999;
    height: 84px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .nav.fixed .logo {
      margin-top: 25px; }
      .nav.fixed .logo img.normal {
        display: block; }
      .nav.fixed .logo img.white {
        display: none; }
    .nav.fixed nav > ul {
      padding-top: 36px; }
      .nav.fixed nav > ul > li {
        color: #333;
        line-height: 1em; }
        .nav.fixed nav > ul > li.active:after {
          background-color: #00C484; }
        .nav.fixed nav > ul > li a {
          color: #333; }
          .nav.fixed nav > ul > li a:hover {
            color: #00D590; }
    .nav.fixed nav .download {
      display: block; }

html[lang='en'] .nav .logo {
  width: 136px;
  margin-top: 28px; }
  html[lang='en'] .nav .logo img {
    width: 136px;
    height: 34px; }
html[lang='en'] .nav nav > ul > li {
  margin-left: 32px; }
html[lang='en'] .nav nav .download {
  margin-left: 45px; }

/*# sourceMappingURL=nav.css.map */
